/* Общие стили */
body {
  width: 1100px;
  margin: auto;
  color: #000;
  background-color: #fff;
}

/* Шапка */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  padding: 0;
  background-color: #fff;
}

/* Меню */
.header__menu {
  display: flex;
  justify-content: flex-start;
  width: 391px;
  margin-top: 133px;
  margin-right: 37px;
  margin-bottom: 138px;
  margin-left: 50px;
  padding: 0;
  white-space: nowrap;
}

.header__links-list {
  display: flex;
  gap: 30px;
  width: 391px;
  height: 22px;
  list-style: none;
  white-space: nowrap;
}

.header__links-list-item {
  text-decoration: underline;
  text-underline-offset: 4px;
  list-style: circle;
}

.header__link {
  width: 100%;
  max-width: 67px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.header__link_active {
  text-decoration: none;
}

/* Логотип */
.header__logo {
  display: flex;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

/* Адрес */
.header__address {
  justify-self: end;
  width: 240px;
  max-width: 240px;
  margin-right: 50px;
  margin-left: 184px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.amsterdam {
  width: 236px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
}

.header__address a {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Cover */
.cover {
  position: relative;
  justify-content: center;
  min-height: 757px;
  padding: 0;
  text-align: center;
  background: url("../images/cover.jpg") center/cover no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  opacity: 0.6;
  background: #000;
}

.cover__title {
  display: grid;
  row-gap: 20px;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 23px;
  padding-bottom: 106px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 115px;
  z-index: 4;
  position: relative; 
}

.cover__description {
  position: relative;
  z-index: 2;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 127%;
  text-transform: uppercase;
  display: flex;
}

.cover__description-text {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 637px;
  margin-bottom: 61px;
  margin-left: 50px;
  line-height: 28px;
  word-spacing: 0.9em;
  white-space: nowrap;
}

.cover__bet-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-left: 794px;
  float: right;
}

.bet-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 51px;
  border: 2px solid #fff;
  padding: 0;
  color: #fff;
  font: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.button {
  border: 2px solid #fff;
}

.aligned-text {
  display: block;
  letter-spacing: 30px;
  text-transform: uppercase;
}

/* ОНО */
.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}


/* Lots */
.lots {
  display: flex;
  flex-direction: column;
  width: 1052px;
  margin-top: 180px;
  margin-right: 24px;
  margin-bottom: 120px;
  margin-left: 24px;
  padding: 0;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  width: 1052px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.lots__look-more-link {
  width: 192px;
  margin-top: 30px;
  margin-bottom: 120px;
  margin-left: 40px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-underline-offset: 4px;
}

.lots__heading {
  width: 121px;
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0;
  padding: 0;
  overflow: hidden;
  color: #fff;
  background-color: white;
}

.card__title {
  position: relative;
  z-index: 2;
  width: 254px;
  margin-top: 48px;
  margin-left: 40px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  text-transform: uppercase;
  align-self: flex-start;
}


.card__text {
  position: relative;
  z-index: 2;
  width: 254px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
  align-self: center;
  padding-block-end: 48px;
}


.card_type_picture {
  background: url("../images/card-lot-03.jpg") center/cover no-repeat;
}

.card_type_book {
  background: url("../images/card-lot-02.jpg") center/cover no-repeat;
}

.card_type_film {
  background: url("../images/card-lot-01.jpg") center/cover no-repeat;
}

/* About */
.about {
  display: grid;
  grid-template-columns: 300px 1fr;
  width: 1052px;
  margin-top: 120px;
  margin-right: 24px;
  margin-bottom: 180px;
  margin-left: 24px;
  padding: 0;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-bottom: 72px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  object-fit: contain;
}

.about__column.about__column_logo {
  width: 240px;
  margin-top: 35px;
  margin-left: 47px;
}

.about__column {
  width: 693px;
  margin-top: 133px;
  margin-left: 70px;
}

.about__title {
  width: 291px;
  margin-bottom: 100px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  box-sizing: border-box;
  width: 639px;
  margin-top: 0;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.about__text p {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.about__text p:nth-child(2) {
  width: 693px;
  margin-top: 20px;
}

.about__text p:nth-child(3) {
  width: 693px;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  width: 1100px;
  padding: 0;
  color: #000;
  text-align: center;
  background-color: #fff;
}

/* Address */
.address {
  width: 265px;
  margin-right: 154px;
  margin-left: 50px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-align: left;
}

.address a {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.address a:hover {
  text-decoration: underline;
}

.footer__address-line {
  width: 261px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
}

/* Footer menu (central column) */
.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 164px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 164px;
  padding: 0;
  list-style: none;
}

.footer__menu-list-item {
  margin: auto;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.footer__menu-list-item a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-list-item:first-child a {
  text-decoration: none;
}

.footer__menu-link {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.footer__menu-link:hover {
  text-decoration: underline;
}

/* Footer social*/
.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  width: 240px;
  margin-top: 1px;
  margin-right: 50px;
  margin-bottom: 131px;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.footer__social-list-item {
  display: inline-block;
  width: 48px;
}

.footer__social-link {
  display: inline-block;
  width: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
}
